<div class="row container-fluid">
  <div class="col-sm-12 col-md-8 col-xl-8">
    <%= form_with url: api_v1_user_path(@user), method: :put do |f| %>
        <div class="row">
          <div class="col-sm-4">
            <div class="avatar-bg">
              <%= image_tag @user.avatar if @user.avatar.attached?%>
            </div>
          </div>
          <div class="col-sm-8 margin-top">
            <% if @user.user_name %>
              <h6><%= @user.user_name %></h6>
            <% end %>
            <span><%= @user.email %></span>
            <% if @supervisor %>
              <h6>Du bist Supervisor</h6>
            <% end %>
            <div class="margin-top">
              <% if @user_team_ids.present? %>
                <%= f.select('switch-team', @user_team_ids.each {|a| a}, selected: @selected_team) %>
              <%else %>
                <p class="red-text">Du musst noch einem Team beitreten (Ein Supervisor muss dich einladen) </br> Oder erstelle unten ein neues Team</p>
              <%end %>
            </div>
          </div>
        </div>
        <div class="col-sm-12 margin-top">
            <%if @selected_team.present? && Supervisor.find_by(team_id: current_user.team_id).nil?%>
              <div class="margin-bottom">
                <b>Erweiterte Rechte? (Desks, Benutzer usw. verwalten) <%= f.check_box :supervisor %></b>
              </div>
            <%end %>
            <div class="margin-bottom">
              <p>Profilbild: <%= f.file_field :avatar %></p>
            </div>
            <div class="margin-top">
              <%= f.submit 'speichern', :class => 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
  </div>



  <div class="col-sm-12 col-md-4 col-xl-4">
    <% if @unconfirmed_team_ids.present? %>
      <% @unconfirmed_team_ids.each do |team| %>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xl-6">
            <h6><%= team.title %></h6>
          </div>
          <div class="col-sm-3 col-md-3 col-xl-3">
            <%= form_with url: api_v1_join_teams_path(team.team_id), method: :post do |ff| %>
              <%= ff.submit 'annehmen', :class => 'btn purple-text' %>
            <% end %>
          </div>
          <div class="col-sm-3 col-md-3 col-xl-3">
            <%= form_with url: api_v1_join_teams_path(team.team_id), method: :delete do |ff| %>
              <%= ff.submit 'ablehnen', :class => 'btn red-text' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <h6 class="margin-bottom purple-text" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Neues Team erstellen
    </h6>
    <div class="border padding collapse " id="collapseExample">
      <div>
        <div>
          <%= form_with url: api_v1_add_companies_path(@user), method: :post do |fff| %>
            <p>Bist du dir sicher? <%= fff.check_box :team_id %></p>
            <p><%= fff.text_field 'team-name', placeholder: 'Team-Name' %></p>
            <%= fff.submit 'Team erstellen', :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid row margin-bottom ">

</div>