<div class="container-fluid row">
  <div class="col-xl-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5>Buchungen</h5>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Platz-ID</th>
            <th scope="col">Typ</th>
            <th scope="col">Info</th>
            <th scope="col">Reserviert am</th>
            <th scope="col">Uhrzeit</th>
            <th scope="col">Aktion</th>
          </tr>
          </thead>
          <tbody>
          <% @reservations.each do |res| %>
              <% desk = Desk.find_by(external_id: res.name) %>
            <tr>
              <td><h6><%= res.name %></h6></td>
              <td><h6><%= desk.kind %></h6></td>
              <td><h6><%= desk.notes %></h6></td>
              <td><h6><%= res.date %></h6></td>
              <td>
                <%if res.reservated_slots.length > 2 %>
                  <h6>
                    <% JSON.parse(res.reservated_slots).each do |slot| %>
                      <span><%=slot%>, </span>
                    <% end %>
                  </h6>
                <% end %>
              </td>
              <td>
                <% if res.date >= DateTime.now.strftime("%Y-%m-%d") %>
                  <%= form_with url: api_v1_reservation_path(res), data: { confirm: "Willst du wirklich stornieren?" }, method: :delete do |f| %>
                    <%= f.submit 'stornieren', :class => 'btn btn-alert' %>
                  <%end %>
                <% else %>
                  <p>nicht mehr stornierbar</p>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>