<nav id="mobile-nav" class="navbar navbar-light">
  <div class="d-flex flex-grow-1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" id="Sidebar-toggler">
      <span class=""><i class="fas fa-bars"></i></span>
    </button>
    <%= link_to "Tahed:o:", root_path, class: "white-text navbar-brand"%>
  </div>
</nav>

<div id="user-nav">
  <div id="logo-brand">
    <%= link_to "Tahed:o:",root_path%>
  </div>
  <ul class="margin-top">
    <% if user_signed_in?%>
      <% if !current_user.admin?%>
        <li class="<%= current_class?(dashboard_path) %>"><%= link_to "Dashboard", dashboard_path %></li>
        <li class="<%= current_class?(desks_path) %>"><%= link_to "Platz Buchen", desks_path %></li>
        <li class="<%= current_class?(user_path(current_user)) %>"><%= link_to "Deine Buchungen", user_path(current_user) %></li></li>
        <% if @supervisor %>
          <li class="<%= current_class?(deskcenter_path) %>"><%= link_to "Sitzplätze verwalten", deskcenter_path%></li>
          <li class="<%= current_class?(users_path) %>"><%= link_to('Benutzer verwalten', users_path) %></li>
          <li class="<%= current_class?(subscription_path) %>"><%= link_to "Abo verwalten", subscription_path%></li>
        <% end %>
      <% end %>
    <% if current_user.admin?%>
      <li class="<%= current_class?(admins_path) %>"><%= link_to "Benutzer", admins_path%></li>
    <% end %>
      <li class="<%= current_class?((edit_user_path(current_user))) %>"><%= link_to('Account', edit_user_path(current_user)) %></li>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "") %></li>
    <% end %>
  </ul>
</div>