<div class="container row">
  <div class="col-xl-6 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5><%= @desk.external_id %> bearbeiten</h5>
        <%= form_with url: desk_path(@desk), method: :put, class: '' do |f| %>
          <div>
            <%= f.label "Kategorie", for: :kind, :class => 'p' %>
            <%= f.select(:kind, @kinds.each {|a| [a]}, {include_blank: @desk.kind}) %>
          </div>
          <div>
            <%= f.label "Platz-ID", for: :kind, :class => '' %>
            <%= f.text_field(:external_id, placeholder: @desk.external_id) %>
          </div>
          <div>
            <%= f.label "Sicherheitsabstand gewährleistet? ", for: :enough_distance, :class => 'p' %>
            <%= f.check_box(:enough_distance, checked: @desk.enough_distance) %>
          </div>
          <div>
            <%= f.label "Info", for: :kind, :class => '' %>
            <%= f.text_field(:notes, placeholder: @desk.notes) %>
          </div>
          <div>
            <%= f.label "Ausstattung", for: :equipment, :class => '' %>
            <%= f.text_field(:equipment, placeholder: @desk.equipment, :class => 'input-width') %>
          </div>
          <div class=""><%= f.submit 'speichern', :class => 'margin-top float-right btn btn-primary' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>