<section class="pricing py-5">
  <% company = CompanyAccount.find_by(team_id: current_user.team_id ) %>
  <% subscription = Subscription.find_by(company_account_id: company.id) %>
  <% card = CreditCard.find_by(company_account_id: company.id) %>
  <% team = UserTeamId.where(team_id: current_user.team_id) %>

  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Bis 5 Benutzer</h5>
            <h6 class="card-price text-center">0€</h6>
            <p class="period text-center">pro Benutzer pro Monat</p>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <% if !subscription && card && team.count < 5%>
              <%= form_with url: api_v1_subscriptions_path(@user), method: :post do |sub1| %>
                <%= sub1.hidden_field :subscription_type, value: 0 %>
                <%= sub1.submit 'Buchen',:class => 'btn btn-block btn-primary text-uppercase', onclick:"spinner()" %>
              <% end %>
            <% elsif !card%>
              <button class="btn btn-block btn-primary text-uppercase">Kreditkarte hinzufügen</button>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">6 - 50 Benutzer</h5>
            <h6 class="card-price text-center">3,49€</h6>
            <p class="period text-center">pro Benutzer pro Monat</p>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <% if subscription&.kind != 1 && card && team.count < 50 %>
              <%= form_with url: api_v1_subscriptions_path(@user), method: :post do |sub2| %>
                <%= sub2.hidden_field :subscription_type, value: 1 %>
                <%= sub2.submit 'Buchen', id: '1', :class => 'btn btn-block btn-primary text-uppercase', onclick:"spinner()" %>
              <% end %>
            <% elsif !card%>
              <button class="btn btn-block btn-primary text-uppercase">Kreditkarte hinzufügen</button>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">50+ Benutzer</h5>
            <h6 class="card-price text-center">2,99€</h6>
            <p class="period text-center">pro Benutzer pro Monat</p>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
            </ul>
            <% if subscription&.kind != 2 && card %>
              <%= form_with url: api_v1_subscriptions_path(@user), method: :post do |sub3| %>
                <%= sub3.hidden_field :subscription_type, value: 2 %>
                <%= sub3.submit 'Buchen', id: '2', :class => 'btn btn-block btn-primary text-uppercase', onclick:"spinner()" %>
              <% end %>
            <% elsif !card%>
              <button class="btn btn-block btn-primary text-uppercase">Kreditkarte hinzufügen</button>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>