<section class="container-fluid">
  <div class="container-fluid row">
    <div class="col-xl-6 col-md-8 col-sm-12">
      <div class="card">
      <div class="card-body">
        <div class="card-title"><h5>Platz erstellen</h5></div>
        <%= form_with url: api_v1_desks_path(@desk), method: :post do |f| %>
          <div>
            <%= f.label "Kategorie", for: :kind, :class => 'p' %>
            <%= f.select(:kind, @kinds.each {|a| [a]}) %>
          </div>
          <div>
            <%= f.label "Platz-ID", for: :external_id, :class => '' %>
            <%= f.text_field(:external_id, placeholder: 'z.B. Platz-01-Sitz-03') %>
          </div>
          <div>
            <%= f.label "Etage", for: :floor, :class => '' %>
            <%= f.number_field(:floor, placeholder: '0', step: 1) %>
          </div>
          <div>
            <%= f.label "Sicherheitsabstand gewährleistet? ", for: :enough_distance, :class => 'p' %>
            <%= f.check_box(:enough_distance) %>
          </div>
          <div>
            <%= f.label "Info", for: :notes, :class => '' %>
            <%= f.text_field(:notes, placeholder: 'Raum 1, Klimaanlage, WC auf Etage', :class => 'input-width') %>
          </div>
          <div>
            <%= f.label "Ausstattung", for: :equipment, :class => '' %>
            <%= f.text_field(:equipment, placeholder: 'z.B. 2 Monitore, höhenverstellbar, barrierefrei', :class => 'input-width') %>
          </div>
          <div class=""><%= f.submit 'erstellen', :class => 'margin-top float-right btn btn-primary' %></div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</section>

<% if @desks.count > 0 %>
  <section class="container-fluid ">
    <div class="container-fluid" >
      <h3>Sitzplätze</h3>
    </div>
    <div class="container-fluid row margin-top">
      <% @desks.each do |desk|%>
        <div class="col-xl-3 col-md-6 col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="text-right">
                <span><%= link_to desk_path(desk.id), class: "purple-text " do %><i class="far fa-edit"></i><% end %></span>
                <span>
                    <%= form_with url: desk_path(desk), method: :delete, class: 'd-inline' do |f| %>
                      <%= button_tag type: 'submit', class: "red-text", id: "delete-button" do %>
                        <i class="far fa-trash-alt"></i>
                      <% end %>
                    <% end %>
                  </span>
              </div>
              <div class="row">
                <div class="col-sm-9"><h5 class="card-title" ><%= desk.kind %></h5></div>
                <div class="col-sm-3"></div>
              </div>
              <p class="card-text">Platz-ID: <%= desk.external_id %></p>
              <p class="card-text">Etage: <%= desk.floor %></p>
              <p class="card-text">Sicherheitsabstand: <%= desk.enough_distance ? '👍' : '👎' %></p>
              <p class="card-text">Info: <%= desk.notes ? desk.notes : 'Keine Angabe' %></p>
              <p class="card-text">Ausstattung: <%= desk.equipment ? desk.equipment : 'Keine Angabe' %></p>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  </section>
<% end %>

