<div class="container-fluid row">
  <div class="col-xl-12 col-md-12 col-sm-12">
    <div class="table-responsive-sm">
      <div class="">
        <h5>Buchungen von <%= @user.user_name %> (<%= @user.email %>)</h5>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Typ</th>
            <th scope="col">Info</th>
            <th scope="col">Datum</th>
            <th scope="col">Uhrzeit</th>
          </tr>
          </thead>
          <tbody>
          <% @reservations.each do |res| %>
            <% desk = Desk.find_by(external_id: res.name) %>
            <tr>
              <td><h6><%= res.name %></h6></td>
              <td><h6><%= desk.kind %></h6></td>
              <td><h6><%= desk.notes %></h6></td>
              <td><h6><%= res.date %></h6></td>
              <td>
                <%if res.reservated_slots.length > 2 %>
                  <P>
                    <% JSON.parse(res.reservated_slots).each do |slot| %>
                      <span><%=slot%>, </span>
                    <% end %>
                  </P>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12">
      <%= link_to('Zurück', users_path, class: current_class?(users_path)) %>
    </div>
  </div>
</div>