<!DOCTYPE html>
<html>
  <head>
    <title>Tahod:o:</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
  <%= render :partial => 'shared/flash', :flash => flash %>
  <% if user_signed_in? %>
    <% @supervisor = Supervisor&.find_by(user_id: current_user.id, team_id: current_user.team_id) %>
    <%= render "shared/navigation" %>
    <%= render "shared/sidebar" %>
    <div id="main" class="container-fluid">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>

  <% else %>
    <%= render 'shared/cookies' %>
    <div class="d-flex flex-grow-1 bg-pink">
      <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
      <%= link_to "Tahed:o:", root_path, class: "navbar-brand"%>
      <div class="w-100 text-right">
        <div class="" id="myNavbar">
          <ul class="navbar-nav ml-auto ">
            <li><%= link_to "Registrieren", new_user_registration_path, class: "nav-link" %></li>
            <li><%= link_to('Login', new_user_session_path, class: "nav-link") %>  </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="">
    </div>
    <%= yield %>
  <% end %>
  </body>
</html>
