<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
  <%= render "shared/navigation" %>
  <% if user_signed_in? %>
    <%= render "shared/flash" %>
    <div class="row">
      <div class="col-sm-2">
        <%= render "shared/sidebar" %>
      </div>
      <div class="col-sm-10">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  <%end %>
  </body>
</html>
